<!-- <app-header></app-header> -->
<section><br><br>
    <h1 style="text-align :center"><b><u>
        ABOUT
        </u></b></h1>
    <br><br>
    <div class = "container">
        <p>
        With an area of  308,252 km² and  population of over  7.33 crores(2020) ,  Madhya Pradesh police   preserve the peace, maintain
  law and order , and  enhance the quality of life throughout the state .Team Madhya Pradesh  Police are delighted to launch 
  a new platform incorporating People Friendly and Citizen Centric Services. Care has been taken to visualise and incorporate 
  the information needs of citizens availing Police services.
 Under the Digital India ,  the working of the  Police Stations and Higher Police Offices in the State is being computerized .
 This  has a facility to provide 360 degree Feedback on all Police Services so that we shall be able to continually
 improve the quality of services rendered by Madhya Pradesh Police.The Map based Locational Services shall help the citizens to
 quickly find out the name of jurisdictional Police Station of any colony/locality.The system capture all the details with respect 
to identity of complainant, details of the incidence or Crime committed.  Portal is developed for the Citizen of Madhya Pradesh 
 to resolve all the problems related to the FIR .It is an Easy reporting of incidents and suspicious activities and remove
 language barrier . It captures the  detail through voice or text and  Calling of medical services, ambulances  108 services .
MP Police is committed to provide professional law enforcement services, protecting rights of the individuals, preventing crimes
 and building community partnership.We endeavour to fully justify the motto of MP police 
“Desh Bakti, Jan Seva" by serving the community with integrity, transparency and quality to enhance the feeling of safety and
 security within the state.  We do hope that the platform shall be more useful to the Citizens and Community at large.
    </p>
    </div>
</section>
