<div *ngIf="loginSuccess === 0 || loginSuccess === -1">
<br /><br />
<h1 style="text-align: center;">
  <b
    ><u>
      SHO LOGIN
    </u></b
  >
</h1>
<br /><br />

<h2 style="text-align: center;">Login Form</h2>

<div class="d-flex justify-content-center">
<form class="border pl-3 pr-2 pt-2 pb-2 col-md-6 alert alert-warning pt-5 pb-5" #login="ngForm">
  <span *ngIf="loginSuccess === -1">  
    <p class="alert alert-danger"><strong>Fail!</strong> Incorrect Details</p>
  </span>
  <div class="form-group">
    <label class="font-weight-bold text-dark">UserName:</label>
    <input type="text" class="form-control" #userName="ngModel" required name="userName" 
    [class.is-invalid]="userName.touched && userName.invalid" [(ngModel)]="formData.userName"> 
    <small class="text-danger" [class.d-none]="userName.untouched || userName.valid">Username is required</small>
  </div>

  <div class="form-group">
    <label class="font-weight-bold text-dark">Password:</label>
    <input type="password" class="form-control" #password="ngModel" required name="password" 
    [class.is-invalid]="password.touched && password.invalid" [(ngModel)]="formData.password">
    <small class="text-danger" [class.d-none]="password.untouched || password.valid">Password is required</small>
  </div>

  <button type="submit" [disabled]="login.invalid" style="color:#000;" class="btn btn-warning font-weight-bold btn-block col-md-4" 
  (click)="shoLogin()">Submit</button>
</form>
</div>
</div>
<!--  -->
<div *ngIf="loginSuccess === 1">
  <app-login-detail [data]="loginData"></app-login-detail>  
  <!-- {{listF | json}} -->
</div>
